main {
    width: 500px;
    margin: 50px auto;
    font: 14px Tahoma, Arial, sans-serif;
    border-radius: 4px;
    background: url(pictures/formBackground.jpg) no-repeat;
    padding: 20px 0;
}

main > form > p {
    font-size: 16px;
    font-weight: bold;
    margin: 0 22px;
    color: #eee;
}
main > form > fieldset > div {
    margin: 10px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 3px;
    border: 1px solid #eee;
    padding: 8px;
    position: relative;
}
main > form > fieldset {
    border: none;
    margin: 0;
}

form input, form textarea {
    width: 200px;
    border-radius: 2px;
    border-style: none;
    height: 30px;
    padding: 0 5px;
    margin: 0;
}

form textarea {
    height: 120px;
    vertical-align: top;
}
form > fieldset > div > label {
    width: 130px;
    display: inline-block;
}
.radio-field > input {
    display: inline-block;
    height: inherit;
    width: inherit;
    margin: 15px 3px;
    margin-left: 25px;
}
.radio-field > label {
    width: inherit;
}
.radio-field .main-radio-label {
    display: block;
    position: relative;
    top: 0px;

}
.logo-box {
    height: 16px;
    width: 24px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 2px;
}

.visa {
    background: url(pictures/visa.png);
}

.amex {
    background: url(pictures/amex.png);
}

.master {
    background: url(pictures/mastercard.gif);
}
main > form > input {
    display: block;
    width: 100px;
    border-radius: 20px;
    background: #003159;
    color: white;
    margin: 0 auto;
}
main > form > input:hover {
    background: #603d59;
}