body {
	width: 100%;
	padding: 0;
	margin: 0;
	font: 20px Tahoma, sans-serif;
	background-image: url(pictures/colorful_dots_on_black.jpg);
	overflow: hidden;
}
body>header {
	background-color: green;
	background: -webkit-linear-gradient(left, red, red 33%, green 33%, green 67%, blue 67%, blue);
	background: -moz-linear-gradient(left, red, red 33%, green 33%, green 67%, blue 67%, blue);
	background: linear-gradient(left, red, red 33%, green 33%, green 67%, blue 67%, blue);
	height: 100px;
	margin-bottom: 20px;
	font-weight: bold;
	font-size: 3em;
	text-align: center;
	color: yellow;
	padding-top: 0;
	line-height: 1.2em;
}
article, nav {
	float: right;
	width: 71%;
	background-color: rgba(255, 255, 255, 0.93);
	border-radius: 25px;
	padding: 21px;
	margin: 7px;
	margin-right: 15px;
	padding-bottom: 15px;
}
nav {
	float: left;
	width: 19%;
}
	nav header {
		font-size: 30px;
		text-decoration: underline;
	}
	nav ul a {
		text-decoration: none;
		color: #000;
	}
	nav ul {
		list-style: none;
		padding-left: 2px;
	}
	nav ul li{
		padding-left: 37px;
		line-height: 45px;
		background-image: url(Pictures/tick.png);
		background-repeat: no-repeat;
		background-position: 5px 10px;
	}
	nav ul li a:visited {
		color: gray;
	}
	ul li:nth-child(1):hover {
		background-color: red;	
		border-radius: 10px;
	}
	ul li:nth-child(2):hover {
		background-color: orange;
		border-radius: 10px;					
	}
	ul li:nth-child(3):hover {
		background-color: yellow;	
		border-radius: 10px;
	}
	ul li:nth-child(4):hover {
		background-color: green;	
		border-radius: 10px;
	}
	ul li:nth-child(5):hover {
		background-color: blue;	
		border-radius: 10px;
	}
	ul li:nth-child(6):hover {
		background-color: purple;	
		border-radius: 10px;
	}
article footer a {
	line-height: 40px;
	color: gray;
	font-style: italic;
}
article header {
	font-size: 40px;
	border-radius: 10px;
	color: white;
	padding: 20px 15px;
	margin-bottom: 25px;
}
#webColors {
	background-color: red;
}
#webSafeColors {
	background-color: orange;
	color: black;
}
#RGB {
	background-color: yellow;
	color: black;
}
#RGBA {
	background-color: green;
}
#HSLHSV {
	background-color: blue;
}
#lorem {
	background-color: purple;
}
article div {
	text-indent: 5px;
	padding-top: 6px;
}
article div::first-line {
	font-style: italic;
	line-height: 55px;
}
article div::first-letter {
	font-size: 90px;
}
article:last-child header {
	margin-bottom: 0;
}
span[lang="la"] {
	font-style: italic;
	color: #0003A8;
}
span[lang="la"]:before, span[lang="la"]:after {
	content: '"';
}