body {
	font: 20px Verdana, sans-serif;
}
table {
	border: 1px solid black;
	width: 560px;
	white-space: nowrap;
}
td, th {
	border: 1px solid black;
}
#title {
	font-size: 1.5em;
}
.number {
	width: 8%;
}
.name-col {
	width: 35%;
}
.score {
	width: 22%;
}
tfoot td {
	text-align: right;
}