#main {
	width: 58%;
	height: 50%;
	background-image: url("pictures/background.png");
	background-repeat: no-repeat;
}
ul {
	list-style: none;
}
ul li:before {
	content: "■";
	color: #FADE82;
}
ul li {
	font: 25px Calibri, sans-serif;
	color: white;
}
h1 {
	font: bold 30px Calibri, sans-serif;
	color: #FADE82; 
	padding-top: 2%;
	padding-left: 4%;
}
span {
	color: #FADE82; 
	font: bold 25px Consolas;
}
.listField {
	margin: 1% 8% 1% 4%;
	padding: 0 5px;
	background-color: RGBA(237, 232, 213, 0.15);
	border: 1px solid #EDE8C5;
}
.listField p {
	color: #EDE8D5;
	font: bold 18px Consolas;
	line-height: 20%;
}