@font-face {
    font-family: "Animated";
    src: url(font/Animated.ttf);
}

section {
    position: relative;
    width: 900px;
    min-height: 600px;
    margin: 100px;
    color: #FDBC21;
    background: rgb(255,255,255); /* Old browsers */
    background: url(pictures/HawaiiBackground.png) no-repeat, -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 7%, rgba(255,252,188,1) 15%, rgba(255,255,255,1) 27%, rgba(0,103,219,1) 71%) no-repeat -278px -169px, rgb(0,103,219); /* FF3.6+ */
    background: url(pictures/HawaiiBackground.png) no-repeat, -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 6%,rgba(255,252,188,1) 18%,rgba(255,255,255,1) 27%,rgba(0,103,219,1) 71%) no-repeat -278px -169px, rgb(0,103,219); /* Chrome10+,Safari5.1+ */
    background: url(pictures/HawaiiBackground.png) no-repeat, -o-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 7%,rgba(255,252,188,1) 15%,rgba(255,255,255,1) 27%,rgba(0,103,219,1) 71%) no-repeat -278px -169px, rgb(0,103,219); /* Opera 12+ */
    background: url(pictures/HawaiiBackground.png) no-repeat, -ms-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 7%,rgba(255,252,188,1) 15%,rgba(255,255,255,1) 27%,rgba(0,103,219,1) 71%) no-repeat -278px -169px, rgb(0,103,219); /* IE10+ */
    background: url(pictures/HawaiiBackground.png) no-repeat, radial-gradient(ellipse at center, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 7%,rgba(255,252,188,1) 15%,rgba(255,255,255,1) 27%,rgba(0,103,219,1) 71%) no-repeat -278px -169px, rgb(0,103,219); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#0067db',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}
section > span {
    display: block;
    font: 46px Animated, Tahoma, sans-serif;
    float: right;
    margin: 15px;
    margin-right: 20px;

}
section > img {
    position: absolute;
}
.vlado-g {
    bottom: 28px;
    left: 42px;
}
.petia {
    bottom: 34px;
    left: 182px;
}
.tedi {
    bottom: 18px;
    left: 262px;
}
.nakov {
    bottom: 43px;
    left: 412px;
}
.alex {
    bottom: 23px;
    left: 492px;
}

.vlado-k {
    bottom: 18px;
    left: 672px;
}